* {margin:0; padding:0;}
 

 
.menu-wrap {
	background-color:#53bd84; 
	height:40px; 
	line-height:40px; 
	position:relative;
	width:100%;
	margin:auto;
	font-family:calibri;
}
 
 .menu-warp li {
	 position:relative;
 }
 
.menu-wrap ul {
	transition: 300ms;
	list-style:none;
}
 
.menu-wrap ul li a {
	transition: 300ms;
	float:left; 
	width:190px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
}
 
.menu-wrap ul li a:hover {
	background-color:#666; 
}
 
.menu-wrap ul li a:hover {
	display:block;
	transition: 300ms;
}
 
.menu-wrap  ul li:hover ul {
	display:block;
	transition: 300ms;
}
 
.Drop ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background-color:#53bd84;
	left:81%; 
	top:40px;
	width:190px;
	transition: 300ms;
}

.Drop2 ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background-color:#53bd84;
	left:380px; 
	top:40px;
	width:190px;
	transition: 300ms;
}

.Drop3 ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background-color:#53bd84;
	left:380px; 
	top:40px;
	width:190px;
	transition: 300ms;
}

 
.menu-wrap ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px;
	text-align:left; 
	width:160px;
}
 
.menu-wrap ul ul li a:hover {
	color:#fff;
	transition: 300ms;
}


img.Drop {
	padding-top:5px;
	height:30px;
	width:30px;
}

li.Drop{
	height:40px;
	margin-left:81%;
}

li.Drop2{
	margin-left:380px;
}

li.Drop3{
	margin-left:380px;
}

a:visited{
	background-color:#666;
}