 * {margin:0; padding:0;}
 
 button {
	 color:#FFF;
	 background-color:#B30000;
	 width:100px;
	 height:30px;
	 text-transform:uppercase;
	 border:solid 2px #FFF;
 }
 
 table{
	 width:850px;
	  font-family: calibri;
 }
 
 hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 
 
 .icon {
	 height:70px;
	 width:70px;
 }
 
 th{
	 text-transform:uppercase;
	
 }
 
td,th {
	padding-left:10px;
	text-align: left;
}

.title {
	width:420px;
}

div.paging {
	position:absolute;
	top:1000px;
	left:30px;
}

p.absolute {
	position:absolute;
	top:1020px;
	left:50px;
	font-family:calibri;
	color:#B30000;
}

a{
	text-decoration:none;
}