table.form { 
	border-collapse: collapse;
	margin-right:auto;
	margin-left:auto;
	
	}

.form th { background-color: #2F7B51;
padding-left:14px;
padding-right:8px;
padding-top:5px;
padding-bottom:5px;
border: 1px solid #cccccc;
text-align:left;
color:#ffffff;
}
.form td {
font-size: 11pt;
background-color: #F0F0F0;
padding-left:8px;
padding-right:8px;
padding-top:5px;
padding-bottom:5px;
border: 1px solid #cccccc;
}
a {text-decoration:none;
color:#2F7B51;}
input,select { color:#2F7B51; padding-left:3px; background-color:F0F0F0; font-family:calibri;}
h3 {
	font-family:calibri;
}